DATABASE_URL="postgresql://easyprint:easyprint@postgres:5432/easyprint?schema=public"
PORT=4000
NEXT_PUBLIC_API_URL="http://localhost:4000/api"
JWT_SECRET="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJ0ZXN0ZUBleGVtcGxvLmNvbSIsImlhdCI6MTc3OTg4Mjc0NiwiZXhwIjoxNzc5OTExNTQ2fQ.Oim_O5CvRgGkKnb8z0sr55JSX4GFzUc6ye0638P9cB8"
JWT_EXPIRES_IN="8h"
